 <div class="thumbnail-container btn-open openVideoBtn" id="" data-videourl="{{ product.metafields.custom.media_gallery_video  | file_url }}"> 
   <div class="wrp_video">    
    <img loading="lazy" src="{{ product.metafields.custom.media_gallery_image | img_url:'master' }}" alt="">
    <div class="overlay" style="border-color:#000;" bis_skin_checked="1"></div>
    <div class="play-btn" bis_skin_checked="1"><span class="arrow-right"></span></div>        
   </div>
</div>