<style>
  .services-section{
    padding: 64px 0;
    background: #FFF4F6;
  }
  .services-section .page-width{
    max-width: 1211px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .services-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }
  .services-info{
    text-align: center;
    padding: 32px 25px;
    border-radius: 8px;
    background: #FEC8D6;
  }
  .services-info-icon {
    display: flex;
    justify-content: center;
  }
  .services-info h3{
    letter-spacing: 0;
    margin: 14px 0 16px;
    color: #1C1C1C;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
  .services-info p{
    letter-spacing: 0;
    margin: 0;
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  @media only screen and (max-width: 1199px){
    .services-info {
      padding: 25px 15px;
    }
    .services-info h3 {
      font-size: 22px;
    }
  }
  @media only screen and (max-width: 989px){
    .services-section {
      padding: 50px 0;
    }
    .services-main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 575px){
    .services-section {
      padding: 32px 0;
    }
    .services-info {
      padding: 22px 10px 14px;
    }
    .services-main {
      gap: 15px;
      column-gap: 15px;
    }
    .services-info-icon svg {
      width: 40px;
      height: auto;
    }
    .services-info h3 {
      margin: 2px 0 5px;
      font-size: 16px;
      line-height: 20px;
    }
    .services-info p {
      font-size: 12px;
      line-height: 15px;
    }
  }
</style>

<div class="services-section">
  <div class="page-width">
    <div class="services-main">
      {% for block in section.blocks %}
      <div class="services-info">
        <div class="services-info-icon">
          {{ block.settings.icon }}
        </div>
        <h3>{{ block.settings.title }}</h3>
        <p>{{ block.settings.info }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Services Section",
    "settings": [],
    "blocks": [
      {
        "type": "text",
        "name": "Row",
        "settings": [
          {
            "type": "html",
            "id": "icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "info",
            "label": "Description"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Services Section"
      }
    ]
  }
{% endschema %}