
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604536083316736683.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604536083316736683.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604536083316736683.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604536083316736683.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604536083316736683.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604536083316736683.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604536083316736683.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604536083316736683.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604536083316736683.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604536083316736683.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604536083316736683.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604536083316736683.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604536083316736683.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604536083316736683.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604536083316736683.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604536083316736683.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-604536083316736683.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604536083316736683.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604536083316736683.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604536083316736683.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604536083316736683.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604536083316736683.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604536083316736683.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604536083316736683.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604536083316736683.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604536083316736683.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604536083316736683.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604536083316736683.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604536083316736683.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604536083316736683.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604536083316736683.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604536083316736683.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604536083316736683.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604536083316736683.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604536083316736683.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-604536083316736683.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604536083316736683.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604536083316736683.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604536083316736683.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604536083316736683.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604536083316736683.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604536083316736683.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604536083316736683.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604536083316736683.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604536083316736683.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604536083316736683.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604536083316736683.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604536083316736683.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604536083316736683.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604536083316736683.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-604536083316736683.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604536083316736683.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604536083316736683.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604536083316736683.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604536083316736683.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604536083316736683.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604536083316736683.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-604536083316736683.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-604536083316736683.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-604536083316736683.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-604536083316736683.gps.gpsil [style*="--shadow-mobile:"]{box-shadow:var(--shadow-mobile)}.gps-604536083316736683.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604536083316736683.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604536083316736683.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604536083316736683.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604536083316736683.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604536083316736683.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604536083316736683.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604536083316736683.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604536083316736683.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604536083316736683.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604536083316736683.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604536083316736683.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604536083316736683.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604536083316736683 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-604536083316736683 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-604536083316736683 .gp-relative{position:relative}.gps-604536083316736683 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604536083316736683 .gp-mb-0{margin-bottom:0}.gps-604536083316736683 .gp-inline-block{display:inline-block}.gps-604536083316736683 .gp-flex{display:flex}.gps-604536083316736683 .gp-grid{display:grid}.gps-604536083316736683 .gp-contents{display:contents}.gps-604536083316736683 .\!gp-hidden{display:none!important}.gps-604536083316736683 .gp-hidden{display:none}.gps-604536083316736683 .gp-h-auto{height:auto}.gps-604536083316736683 .gp-h-full{height:100%}.gps-604536083316736683 .gp-w-full{width:100%}.gps-604536083316736683 .gp-max-w-full{max-width:100%}.gps-604536083316736683 .gp-flex-none{flex:none}.gps-604536083316736683 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604536083316736683 .gp-flex-col{flex-direction:column}.gps-604536083316736683 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604536083316736683 .gp-duration-200{transition-duration:.2s}.gps-604536083316736683 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604536083316736683 .tablet\:\!gp-hidden{display:none!important}.gps-604536083316736683 .tablet\:gp-hidden{display:none}.gps-604536083316736683 .tablet\:gp-h-auto{height:auto}.gps-604536083316736683 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-604536083316736683 .mobile\:\!gp-hidden{display:none!important}.gps-604536083316736683 .mobile\:gp-hidden{display:none}.gps-604536083316736683 .mobile\:gp-h-auto{height:auto}.gps-604536083316736683 .mobile\:gp-flex-none{flex:none}}.gps-604536083316736683 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"},"mobile":{"type":"color","color":"#FFF7F0","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gpYycexg3j"}' data-id="gpYycexg3j" id="gpYycexg3j" data-same-height-subgrid-container class="gpYycexg3j gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:25px;--pb-mobile:var(--g-s-2xl);--pr-mobile:25px;--d:none;--d-tablet:none;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:#FFF7F0;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHZw7bfK6A gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"preload":false,"color":"#FFF7F0","type":"color"}},"uid":"gDe_gPBVLx"}' data-id="gDe_gPBVLx" id="gDe_gPBVLx" data-same-height-subgrid-container class="gDe_gPBVLx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--ml-mobile:auto;--mb-mobile:0px;--pt-mobile:16px;--pl-mobile:20px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bs-mobile:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:40px;--bbrr-mobile:40px;--btlr-mobile:40px;--btrr-mobile:40px;--shadow-mobile:1.8730329670795598px 4.635919272833937px 15px 10px rgba(18, 18, 18, 0.2);--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--h:auto;--h-mobile:auto;--bgc-mobile:#FFF7F0;--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2SRbwvgG- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfYQaBIVqw"
        class="gfYQaBIVqw"
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--size:46px;--size-tablet:46px;--size-mobile:28px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfYQaBIVqw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gxNWs0Tk_T"
      style="--mr-mobile:0px;--pb-mobile:10px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1770041043543 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gxNWs0Tk_T"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Siegel_100_Tage_Geld_zuruck_Garantie.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gI7Sz1ozEo"
        class="gI7Sz1ozEo"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggI7Sz1ozEo_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-604536083316736683 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/46d275-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604419028529709885&sectionId=604536083316736683)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfYQaBIVqw_text","label":"ggfYQaBIVqw_text","default":"<strong>100 Tage Geld-zurück Garantie</strong>"},{"type":"html","id":"ggI7Sz1ozEo_text","label":"ggI7Sz1ozEo_text","default":"<p>Läuft die Anwendung nicht so, wie du es dir vorgestellt hast? Kein Problem: Du kannst unsere Produkte 100 Tage lang testen. Wenn sie dir nicht gefallen, schickst du sie kostenlos zurück und erhältst den vollen Kaufpreis erstattet.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}