
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-594117762289304304.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-594117762289304304.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-594117762289304304.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-594117762289304304.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-594117762289304304.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-594117762289304304.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-594117762289304304.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-594117762289304304.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-594117762289304304.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-594117762289304304.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-594117762289304304.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-594117762289304304.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-594117762289304304.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-594117762289304304.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-594117762289304304.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-594117762289304304.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-594117762289304304.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-594117762289304304.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-594117762289304304.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-594117762289304304.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-594117762289304304.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-594117762289304304.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-594117762289304304.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-594117762289304304.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-594117762289304304.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-594117762289304304.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-594117762289304304.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-594117762289304304.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-594117762289304304.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-594117762289304304.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-594117762289304304.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-594117762289304304.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-594117762289304304.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-594117762289304304.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-594117762289304304.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-594117762289304304.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-594117762289304304.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-594117762289304304.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-594117762289304304.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-594117762289304304.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-594117762289304304.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-594117762289304304.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-594117762289304304.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-594117762289304304.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-594117762289304304.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-594117762289304304.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-594117762289304304.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-594117762289304304.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-594117762289304304.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-594117762289304304.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-594117762289304304.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-594117762289304304.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-594117762289304304 .gp-relative{position:relative}.gps-594117762289304304 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-594117762289304304 .gp-mb-0{margin-bottom:0}.gps-594117762289304304 .gp-flex{display:flex}.gps-594117762289304304 .gp-grid{display:grid}.gps-594117762289304304 .\!gp-hidden{display:none!important}.gps-594117762289304304 .gp-hidden{display:none}.gps-594117762289304304 .gp-h-full{height:100%}.gps-594117762289304304 .gp-w-full{width:100%}.gps-594117762289304304 .gp-max-w-full{max-width:100%}.gps-594117762289304304 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-594117762289304304 .gp-flex-col{flex-direction:column}.gps-594117762289304304 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-594117762289304304 .gp-duration-200{transition-duration:.2s}.gps-594117762289304304 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-594117762289304304 .tablet\:\!gp-hidden{display:none!important}.gps-594117762289304304 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-594117762289304304 .mobile\:\!gp-hidden{display:none!important}.gps-594117762289304304 .mobile\:gp-hidden{display:none}}.gps-594117762289304304 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F7F6F5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#F7F6F5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYb2GISjMD"}' data-id="gYb2GISjMD" id="gYb2GISjMD" data-same-height-subgrid-container class="gYb2GISjMD gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:var(--g-s-2xl);--pt-mobile:20px;--pb-mobile:var(--g-s-2xl);--pt-tablet:0px;--pb-tablet:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F7F6F5;--bgc-mobile:#F7F6F5;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcGYe6rvjP gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gaaAXCQXYW ">
      
    <div
      
      style="--ta:left;--ta-tablet:center;--ta-mobile:center"
      class="gp-h-full gp-w-full"
    >
      <div class="klaviyo-form-WxxbbP"></div>
    </div>
  
      </div>
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-594117762289304304 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/46d275-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=594117762238907120&sectionId=594117762289304304)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}