
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-594117762289238768.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-594117762289238768.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-594117762289238768.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-594117762289238768.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-594117762289238768.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-594117762289238768.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-594117762289238768.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-594117762289238768.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-594117762289238768.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-594117762289238768.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-594117762289238768.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-594117762289238768.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-594117762289238768.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-594117762289238768.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-594117762289238768.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-594117762289238768.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-594117762289238768.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-594117762289238768.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-594117762289238768.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-594117762289238768.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-594117762289238768.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-594117762289238768.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-594117762289238768.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-594117762289238768.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-594117762289238768.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-594117762289238768.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-594117762289238768.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-594117762289238768.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-594117762289238768.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-594117762289238768.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-594117762289238768.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-594117762289238768.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-594117762289238768.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-594117762289238768.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-594117762289238768.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-594117762289238768.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-594117762289238768.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-594117762289238768.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-594117762289238768.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-594117762289238768.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-594117762289238768.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-594117762289238768.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-594117762289238768.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-594117762289238768.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-594117762289238768.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-594117762289238768.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-594117762289238768.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-594117762289238768.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-594117762289238768.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-594117762289238768.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-594117762289238768.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-594117762289238768.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-594117762289238768.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-594117762289238768.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-594117762289238768.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-594117762289238768.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-594117762289238768.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-594117762289238768.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-594117762289238768.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-594117762289238768.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-594117762289238768.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-594117762289238768.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-594117762289238768.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-594117762289238768.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-594117762289238768.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-594117762289238768.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-594117762289238768.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-594117762289238768.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-594117762289238768.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-594117762289238768.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-594117762289238768.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-594117762289238768 .gp-relative{position:relative}.gps-594117762289238768 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-594117762289238768 .gp-mb-0{margin-bottom:0}.gps-594117762289238768 .gp-flex{display:flex}.gps-594117762289238768 .gp-grid{display:grid}.gps-594117762289238768 .\!gp-hidden{display:none!important}.gps-594117762289238768 .gp-hidden{display:none}.gps-594117762289238768 .gp-max-w-full{max-width:100%}.gps-594117762289238768 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-594117762289238768 .gp-flex-col{flex-direction:column}.gps-594117762289238768 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-594117762289238768 .gp-duration-200{transition-duration:.2s}.gps-594117762289238768 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-594117762289238768 .tablet\:\!gp-hidden{display:none!important}.gps-594117762289238768 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-594117762289238768 .mobile\:\!gp-hidden{display:none!important}.gps-594117762289238768 .mobile\:gp-hidden{display:none}}.gps-594117762289238768 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F6F6F6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"local","color":"#F7F6F5","image":{"src":""},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geVvn7uC2R"}' data-id="geVvn7uC2R" id="geVvn7uC2R" data-same-height-subgrid-container class="geVvn7uC2R gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-mobile:20px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgc-mobile:#F7F6F5;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:local;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gROks_f20c gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gl6vtwzdPY"}' data-id="gl6vtwzdPY" id="gl6vtwzdPY" data-same-height-subgrid-container class="gl6vtwzdPY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1AFs5GYG5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRk0ZCGa06"}' data-id="gRk0ZCGa06" id="gRk0ZCGa06" data-same-height-subgrid-container class="gRk0ZCGa06 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:50%;--w-tablet:100%;--w-mobile:95%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gs5awQMppt gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDAYCsE-4H"
        class="gDAYCsE-4H"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:7px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763651648571"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--c:#242424;--ff:var(--g-font-Catchy-Mager, 'Catchy Mager'), var(--g-font-heading, heading);--weight:400;--size:32px;--size-tablet:32px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDAYCsE-4H_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6L9Tsa3_x"
        class="g6L9Tsa3_x"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763651648572"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6L9Tsa3_x_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-594117762289238768 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/46d275-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=594117762238907120&sectionId=594117762289238768)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggDAYCsE-4H_text","label":"ggDAYCsE-4H_text","default":"Jetzt zum PINKYPACT&nbsp;<br><strong>Black Week</strong> Pre-Sale anmelden!"},{"type":"html","id":"gg6L9Tsa3_x_text","label":"gg6L9Tsa3_x_text","default":"<p><strong>Du willst beim Pre-Sale dabei sein?</strong><br>Trage jetzt deinen Namen und deine E-Mail-Adresse ein und erhalte <strong>am 23.11. um 10 Uhr exklusiven Zugang</strong> zum Onlineshop – <strong>noch bevor alle anderen starten dürfen!</strong><br>Hinweis: Wir können nicht garantieren, dass alle Artikel die gesamte Zeit verfügbar sind. <strong>Schnell sein lohnt sich also!</strong> ⚡️</p><p>&nbsp;</p><p>💗 Deine exklusiven Vorteile im Pre-Sale:</p><p>✨ <strong>Bis zu 50% sparen</strong> – mindestens <strong>20% auf alle Produkte</strong><br>⏰ <strong>1 Stunde früherer Zugriff</strong> auf alle Black Deals<br>🎁 <strong>100% Cashback-Chance:</strong> Wir erstatten <strong>10 Bestellungen</strong> in Form eines Gutscheins unter allen Bestellungen am 23.11<br>🏅 <strong>50% mehr PINKY Points</strong> für deinen Einkauf<br><a href=\"https://pinkypact.com/pages/pinky-club\"><i><u>(PINKY Club Mitgliedschaft erforderlich - Hier klicken für kostenlose Anmeldung)</u></i></a></p><p>&nbsp;</p><p>📅 <strong>Wichtig:</strong> Diese Vorteile gelten <strong>nur</strong> beim Pre-Sale <strong>am 23.11</strong> mit Voranmeldung!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}