
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604419042538685409.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604419042538685409.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-604419042538685409.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604419042538685409.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604419042538685409.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604419042538685409.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-604419042538685409.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604419042538685409.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604419042538685409.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604419042538685409.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604419042538685409.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-604419042538685409.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604419042538685409.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-604419042538685409.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604419042538685409.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604419042538685409.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-604419042538685409.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604419042538685409.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-604419042538685409.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604419042538685409.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604419042538685409.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604419042538685409.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-604419042538685409.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604419042538685409.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-604419042538685409.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604419042538685409.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-604419042538685409.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604419042538685409.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604419042538685409.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604419042538685409.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604419042538685409.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604419042538685409.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604419042538685409.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604419042538685409.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604419042538685409.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604419042538685409.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604419042538685409.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604419042538685409.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-604419042538685409.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604419042538685409.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604419042538685409.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604419042538685409.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604419042538685409.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604419042538685409.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604419042538685409.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604419042538685409.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604419042538685409.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604419042538685409.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604419042538685409.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604419042538685409.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604419042538685409.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604419042538685409.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604419042538685409.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604419042538685409.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604419042538685409.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604419042538685409.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604419042538685409.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604419042538685409.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604419042538685409.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604419042538685409.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604419042538685409.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604419042538685409.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-604419042538685409.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604419042538685409.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604419042538685409.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604419042538685409.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604419042538685409.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604419042538685409.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604419042538685409.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-604419042538685409.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-604419042538685409.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604419042538685409.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604419042538685409.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604419042538685409.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604419042538685409.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604419042538685409.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-604419042538685409.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604419042538685409.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604419042538685409.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604419042538685409.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604419042538685409.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604419042538685409.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604419042538685409.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604419042538685409.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-604419042538685409.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604419042538685409.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604419042538685409.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604419042538685409 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-604419042538685409 .gp-relative{position:relative}.gps-604419042538685409 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604419042538685409 .gp-mb-0{margin-bottom:0}.gps-604419042538685409 .gp-flex{display:flex}.gps-604419042538685409 .gp-inline-flex{display:inline-flex}.gps-604419042538685409 .gp-grid{display:grid}.gps-604419042538685409 .\!gp-hidden{display:none!important}.gps-604419042538685409 .gp-hidden{display:none}.gps-604419042538685409 .gp-h-full{height:100%}.gps-604419042538685409 .gp-max-w-full{max-width:100%}.gps-604419042538685409 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604419042538685409 .gp-flex-col{flex-direction:column}.gps-604419042538685409 .gp-items-center{align-items:center}.gps-604419042538685409 .gp-justify-center{justify-content:center}.gps-604419042538685409 .gp-overflow-hidden{overflow:hidden}.gps-604419042538685409 .gp-break-words{overflow-wrap:break-word}.gps-604419042538685409 .gp-no-underline{text-decoration-line:none}.gps-604419042538685409 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604419042538685409 .gp-duration-200{transition-duration:.2s}.gps-604419042538685409 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604419042538685409 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-604419042538685409 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-604419042538685409 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-604419042538685409 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-604419042538685409 .tablet\:\!gp-hidden{display:none!important}.gps-604419042538685409 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604419042538685409 .mobile\:\!gp-hidden{display:none!important}.gps-604419042538685409 .mobile\:gp-hidden{display:none}}.gps-604419042538685409 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-604419042538685409 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF7F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8d-DQprYb"}' data-id="g8d-DQprYb" id="g8d-DQprYb" data-same-height-subgrid-container class="g8d-DQprYb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pb:80px;--pt-tablet:80px;--pl-tablet:40px;--pb-tablet:80px;--pr-tablet:40px;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:72px;--pr-mobile:16px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSRNEYGNBF gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gsEINQfEB9"}' data-id="gsEINQfEB9" id="gsEINQfEB9" data-same-height-subgrid-container class="gsEINQfEB9 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pb-mobile:0px;--mb-tablet:0px;--cg:42px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gutIOq0uEk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdX472Pc5s"
        class="gdX472Pc5s"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:57px;--size-tablet:36px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdX472Pc5s_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKf0HBEnN7"
        class="gKf0HBEnN7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pb:32px;--pb-tablet:32px;--mb-mobile:0px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKf0HBEnN7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"geXNwflIeI"}' data-id="geXNwflIeI" id="geXNwflIeI" data-same-height-subgrid-container class="geXNwflIeI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHnKExrUun gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","selectedTab":"products","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:0px;--mb-mobile:16px;--pl-mobile:0px;--ta:center;--ta-tablet:center" >
        <style>[data-id="g_4S9z1E5O"].gp-button-base::before, [data-id="g_4S9z1E5O-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      
  
    }
  
      
  [data-id="g_4S9z1E5O"]:hover::before, [data-id="g_4S9z1E5O-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g_4S9z1E5O" dataId="g_4S9z1E5O" data-state="idle" aria-label="<p><span style='font-size:18px;'>Direkt weiter zum Starterset</span></p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:40px;--pr:40px;--pt:16px;--pb:16px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--hvr-bblr:20px;--hvr-bbrr:20px;--hvr-btlr:20px;--hvr-btrr:20px;--shadow:14.142135623730951px 14.14213562373095px 20px 0px rgba(18, 18, 18, 0.2);--bgi:;--hvr-bgi:;--hvr-bg:#AB5F70;--bg:#8F2D49;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="g_4S9z1E5O gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg_4S9z1E5O_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="ghT339QBvN gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-604419042538685409 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/46d275-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604419028529709885&sectionId=604419042538685409)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggdX472Pc5s_text","label":"ggdX472Pc5s_text","default":"5 Gründe wieso UV Gelfolien deine Rettung sind!"},{"type":"html","id":"ggKf0HBEnN7_text","label":"ggKf0HBEnN7_text","default":"<p>Zwischen Alltag, Job und allem, was sonst noch läuft,<br>bleibt oft keine Zeit für Studio-Termine. UV-Gelfolien sind die einfache Lösung für gepflegte Nägel ohne Umwege.</p>"},{"type":"html","id":"gg_4S9z1E5O_label","label":"gg_4S9z1E5O_label","default":"<p><span style=\"font-size:18px;\">Direkt weiter zum Starterset</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}