
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604434982672269999.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604434982672269999.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-604434982672269999.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604434982672269999.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604434982672269999.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604434982672269999.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-604434982672269999.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604434982672269999.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604434982672269999.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604434982672269999.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604434982672269999.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-604434982672269999.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604434982672269999.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-604434982672269999.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604434982672269999.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604434982672269999.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-604434982672269999.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604434982672269999.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-604434982672269999.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604434982672269999.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604434982672269999.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604434982672269999.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-604434982672269999.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604434982672269999.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-604434982672269999.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604434982672269999.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-604434982672269999.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604434982672269999.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604434982672269999.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604434982672269999.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604434982672269999.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604434982672269999.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604434982672269999.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604434982672269999.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604434982672269999.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604434982672269999.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604434982672269999.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604434982672269999.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-604434982672269999.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604434982672269999.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604434982672269999.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604434982672269999.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604434982672269999.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604434982672269999.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604434982672269999.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604434982672269999.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604434982672269999.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604434982672269999.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604434982672269999.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604434982672269999.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604434982672269999.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604434982672269999.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604434982672269999.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604434982672269999.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604434982672269999.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-604434982672269999.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604434982672269999.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604434982672269999.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604434982672269999.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604434982672269999.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604434982672269999.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604434982672269999.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604434982672269999.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-604434982672269999.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-604434982672269999.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-604434982672269999.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-604434982672269999.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-604434982672269999.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-604434982672269999.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-604434982672269999.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-604434982672269999.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604434982672269999.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604434982672269999.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604434982672269999.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604434982672269999.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604434982672269999.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604434982672269999.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604434982672269999.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604434982672269999.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604434982672269999.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-604434982672269999 .gp-relative{position:relative}.gps-604434982672269999 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604434982672269999 .gp-mb-0{margin-bottom:0}.gps-604434982672269999 .gp-flex{display:flex}.gps-604434982672269999 .gp-inline-flex{display:inline-flex}.gps-604434982672269999 .gp-grid{display:grid}.gps-604434982672269999 .\!gp-hidden{display:none!important}.gps-604434982672269999 .gp-hidden{display:none}.gps-604434982672269999 .gp-h-full{height:100%}.gps-604434982672269999 .gp-max-w-full{max-width:100%}.gps-604434982672269999 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604434982672269999 .gp-flex-col{flex-direction:column}.gps-604434982672269999 .gp-items-center{align-items:center}.gps-604434982672269999 .gp-justify-center{justify-content:center}.gps-604434982672269999 .gp-overflow-hidden{overflow:hidden}.gps-604434982672269999 .gp-break-words{overflow-wrap:break-word}.gps-604434982672269999 .gp-text-center{text-align:center}.gps-604434982672269999 .gp-no-underline{text-decoration-line:none}.gps-604434982672269999 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604434982672269999 .gp-duration-200{transition-duration:.2s}.gps-604434982672269999 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604434982672269999 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-604434982672269999 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-604434982672269999 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-604434982672269999 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-604434982672269999 .tablet\:\!gp-hidden{display:none!important}.gps-604434982672269999 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-604434982672269999 .mobile\:\!gp-hidden{display:none!important}.gps-604434982672269999 .mobile\:gp-hidden{display:none}}.gps-604434982672269999 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-604434982672269999 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#FFF7F0","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false},"mobile":{"type":"color","color":"#FFF7F0","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gcokxxMznB"}' data-id="gcokxxMznB" id="gcokxxMznB" data-same-height-subgrid-container class="gcokxxMznB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pl:200px;--pb:var(--g-s-2xl);--pr:200px;--pt-tablet:var(--g-s-2xl);--pl-tablet:200px;--pb-tablet:var(--g-s-2xl);--pr-tablet:200px;--pt-mobile:var(--g-s-2xl);--pl-mobile:31px;--pb-mobile:var(--g-s-2xl);--pr-mobile:31px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--displayInitInteraction:true;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFF7F0;--bgc-mobile:#FFF7F0;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMHyUw1taZ gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://pinkypact.com/products/starterset","selectedTab":"products","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--ml-mobile:0px;--mb-mobile:16px;--pl-mobile:0px;--ta:center;--ta-tablet:center" >
        <style>[data-id="goNCha-bdh"].gp-button-base::before, [data-id="goNCha-bdh-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      
  
    }
  
      
  [data-id="goNCha-bdh"]:hover::before, [data-id="goNCha-bdh-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="goNCha-bdh" dataId="goNCha-bdh" data-state="idle" aria-label="<p><span style='font-size:17px;'>Jetzt Starterset zusammenstellen</span></p>"
          
          href="https://pinkypact.com/products/starterset" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:40px;--pr:40px;--pt:16px;--pb:16px;--pl-tablet:20px;--pr-tablet:20px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:16px;--pb-mobile:16px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--hvr-bblr:20px;--hvr-bbrr:20px;--hvr-btlr:20px;--hvr-btrr:20px;--shadow:14.142135623730951px 14.14213562373095px 20px 0px rgba(18, 18, 18, 0.2);--bgi:;--hvr-bgi:;--hvr-bg:#AB5F70;--bg:#8F2D49;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal"
          class="goNCha-bdh gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggoNCha-bdh_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-604434982672269999 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/46d275-3/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604419028529709885&sectionId=604434982672269999)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoNCha-bdh_label","label":"ggoNCha-bdh_label","default":"<p><span style=\"font-size:17px;\">Jetzt Starterset zusammenstellen</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}