@font-face {
    font-family: 'IowanOldSt BT';
    src: url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Roman.eot?v=1720587141');
    src: url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Roman.eot?v=1720587141') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Roman.woff2?v=1720587141') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Roman.woff?v=1720587141') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Roman.ttf?v=1720587141') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IowanOldSt Blk BT';
    src: url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Black.eot?v=1720586967');
    src: url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Black.eot?v=1720586967') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Black.woff2?v=1720586967') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Black.woff?v=1720586967') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Black.ttf?v=1720586967.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IowanOldSt BT';
    src: url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Bold.eot?v=1720587087');
    src: url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Bold.eot?v=1720587087') format('embedded-opentype'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Bold.woff2?v=1720587087') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Bold.woff?v=1720587087') format('woff'),
        url('https://cdn.shopify.com/s/files/1/0767/6051/4886/files/IowanOldStyleBT-Bold.ttf?v=1720587086') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
  font-family: "Quicksand", sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'IowanOldSt BT';
}