.header-wrapper header.header.page-width {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
/* .predictive-search.predictive-search--header {
    display: none !important;
} */
.header-search-section .field {
    max-width: 223px;
}
.header-search-section .field:before,.header-search-section .field:after {
    display: none;
}
.header-search-section .field input.search__input {
    font-family: "Quicksand", sans-serif;
    background: #F1F1F1;
    height: 32px;
    margin: 0;
    padding: 7px 8px 7px 28px;
    border-radius: 8px;
    box-shadow: unset;
    outline: none;
    color: #626262;
    font-size: 14px;
    font-weight: 600;
    background-image: url(https://cdn.shopify.com/s/files/1/0767/6051/4886/files/header-search-icon.svg?v=1720589633);
    background-size: 16px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
}
.header-search-section .field input.search__input::placeholder{
  opacity: 1;
}
.header-search-section .field button.search__button.field__button {
    display: none;
}
.header-main-section a.header__heading-link {
    padding: 0;
}
.header-main-section a.header__heading-link, .header-main-section .header__heading {
    display: flex;
    align-items: center;
    height: 32px;
}
.header-main-section .header__heading-logo-wrapper {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__icons .header__icon {
    width: 24px;
    height: 24px;
}
.header__icons .header__icon.header__icon--account {
    width: 28px;
    height: 28px;
    display: block;
}
.header__icons .header__icon.header__icon--cart {
    margin-right: 0;
}
.header__icons .header__icon.header__icon--account svg {
    width: 28px;
    height: 28px;
}
.header__icons .header__icon svg {
    transform: unset !important;
}
.header__icons .header__icon.header__icon--cart svg {
    width: 24px;
    height: 24px;
}
.header__icons {
    gap: 18px;
    align-items: center;
}
.header-menu-list-section {
    padding: 16px 15px;
    background: #FFF4F6;
}
.header-menu-list-section nav.header__inline-menu {
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
}
.header-menu-list-section ul.list-menu li{
    padding: 0 24px;
    cursor: pointer;
    position: relative;
}
.header-menu-list-section ul.list-menu li:before,
.header-menu-list-section ul.list-menu li:has(.header__active-menu-item):after{
    position: absolute;
    content: '';
    background: #AE5781;
    width: 0;
    height: 4px;
    bottom: -16px;
    transition: all 0.3s;
    left: 0;
}
.header-menu-list-section ul.list-menu li:has(.header__active-menu-item):after{
    width: 100%;
}
.header-menu-list-section ul.list-menu li:hover:before{
    width: 100%;
}
.header-menu-list-section ul.list-menu li a,.header-menu-list-section ul.list-menu li summary {
    padding: 0;
    color: #626262;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none !important;
    line-height: 18px;
}
.header-menu-list-section ul.list-menu li a .header__active-menu-item,.header-menu-list-section ul.list-menu li summary .header__active-menu-item{
    color: #AE5781;
}
.header-menu-list-section ul.list-menu li:last-child {
    padding-right: 0;
}
.header-menu-list-section ul.list-menu li:first-child {
    padding-left: 0;
}
.header-menu-list-section ul.list-menu li:not(:last-child) {
    border-right: 1px solid #626262;
}
.header-menu-list-section ul.list-menu li summary {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
}
.header-menu-list-section ul.list-menu li summary svg.icon {
    position: unset;
}
.header-menu-list-section ul.list-menu li a span, .header-menu-list-section ul.list-menu li summary span {
    text-decoration: none;
}
.header-menu-list-section ul.list-menu li ul.header__submenu {
    top: 34px;
    border: 0;
    background: #fff4f6;
}
.header-menu-list-section ul.list-menu li ul.header__submenu li:before {
    display: none;
}
.header-menu-list-section ul.list-menu li ul.header__submenu li {
    padding: 5px 20px;
    border-right: 0;
}
.search-modal__content .field:before,.search-modal__content .field:after {
    display: none;
}
.search-modal__content .field input {
    font-family: Quicksand, sans-serif;
    background: #f1f1f1;
    height: 32px;
    margin: 0;
    padding: 7px 8px 7px 28px;
    border-radius: 8px;
    box-shadow: unset;
    outline: none;
    color: #626262;
    font-size: 14px;
    font-weight: 600;
    background-image: url(/cdn/shop/files/header-search-icon.svg?v=1720589633);
    background-size: 16px;
    background-position: 8px 8px;
    background-repeat: no-repeat;
}
.search-modal__content .field input::placeholder{
    opacity: 1;
}
.search-modal__content .field label.field__label,.search-modal__content .field button.search__button {
    display: none;
}
@media only screen and (min-width: 990px){
  .header-wrapper header.header.page-width{
    display: flex;
    flex-wrap: wrap;
  }
  .header-main-section {
    padding-bottom: 28px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1210px;
  }
  .header-menu-list-section {
    width: 100%;
  }
  .header-main-section a.header__heading-link,
  .header-main-section .header__heading{
    grid-area: unset;
    width: 100%;
  }
  .header-main-section .header__icons {
    grid-area: unset;
    width: 100%;
    justify-content: end;
    padding-right: 0;
  }
}
@media only screen and (max-width: 1199px){
  .header-menu-list-section ul.list-menu li{
    padding: 0 18px;
  }
}
@media only screen and (max-width: 989px){
  .header-menu-list-section, .header-search-section {
    display: none;
  }
  .header-wrapper header.header.page-width {
    display: block;
    padding: 20px 24px;
  }
  .header-main-section {
    align-items: center;
    display: grid;
    grid-template-areas: "left-icons heading icons";
    grid-template-columns: 1fr 2fr 1fr;
  }
  .header-main-section details-modal.header__search {
    display: none;
  }
  .header-main-section .header__icons details-modal.header__search {
    display: block;
  }
  .header-main-section header-drawer {
    margin-left: 0;
  }
  .header__icons {
    padding-right: 0;
  }
  .header__icons .header__icon.header__icon--account {
    display: none;
  }
  .header-main-section header-drawer summary.header__icon,
  .header__icon--search svg.icon-search{
    width: 24px;
    height: 24px;
  }
  .menu-drawer,
  .menu-drawer ul.menu-drawer__menu li .has-submenu{
    background: #fff4f6 !important;
  }
  .menu-drawer ul.menu-drawer__menu li{
    margin-bottom: 0;
  }
  .menu-drawer ul.menu-drawer__menu li a,.menu-drawer ul.menu-drawer__menu li summary,.menu-drawer ul.menu-drawer__menu li .has-submenu button.menu-drawer__close-button {
    padding: 10px 30px;
    color: #626262;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 749px){
  .header-main-section a.header__heading-link, .header-main-section .header__heading,.header-main-section .header__heading-logo-wrapper {
    height: 16px;
  }
  .header-main-section .header__heading-logo-wrapper img {
    max-width: 161.33px;
    height: 16px;
  }
  .header__icons {
    gap: 8px;
  }
  .header__icon--search svg.icon-search,
  .header__icons .header__icon,
  .header__icons .header__icon svg{
    width: 18px;
    height: 18px;
  }
}
@media only screen and (max-width: 375px){
  .header-wrapper header.header.page-width {
    padding: 20px 15px;
  }
  .header-main-section .header__heading-logo-wrapper img {
    width: 100%;
  }
}
cart-drawer.drawer .drawer__inner {
    background: #fff;
}
cart-drawer.drawer h2.cart__empty-text {
    margin: 0 0 20px;
    color: #1C1C1C;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
}
cart-drawer.drawer a.button {
    border-radius: 10px;
    background: #AE5781;
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    transition: all 0.3s;
    font-weight: 700;
    line-height: 1.2;
}
cart-drawer.drawer a.button:hover {
    background: #FEC8D6;
    color: #1C1C1C;
}
cart-drawer.drawer a.button:before,cart-drawer.drawer a.button:after {
    display: none;
}
cart-drawer.drawer p.cart__login-title {
    margin: 20px 0 5px;
    color: #000;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 600;
    line-height: 26px;
}
cart-drawer.drawer p.cart__login-paragraph {
    margin-top: 0;
    color: #000;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 26px;
}
cart-drawer.drawer p.cart__login-paragraph a.link {
    padding-right: 5px;
    color: #AE5781;
    font-weight: 700;
}
cart-drawer .drawer__header h2.drawer__heading {
    margin: 0;
    color: #505050;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0;
}
cart-drawer-items table.cart-items  thead tr th {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
cart-drawer-items table.cart-items a.cart-item__name {
    color: #272727;
    font-size: 14px;
    font-weight: 600;
    font-family: Quicksand,sans-serif;
    letter-spacing: 0;
    margin-top: 0px;
}
cart-drawer-items table.cart-items .product-option {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
cart-drawer-items table.cart-items span.price {
    color: #AE5781;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
}
cart-drawer-items table.cart-items .cart-item__quantity-wrapper quantity-input.quantity {
    background: #FFDCE0;
}
cart-drawer-items table.cart-items .cart-item__quantity-wrapper quantity-input.quantity .quantity__button svg {
    color: #000;
}
cart-drawer-items table.cart-items .cart-item__quantity-wrapper quantity-input.quantity:before,cart-drawer-items table.cart-items .cart-item__quantity-wrapper quantity-input.quantity:after {
    display: none;
}
.cart-drawer .cart-item>td+td {
    padding-left: 0;
}
cart-drawer.drawer .drawer__footer {
    padding: 16px;
    background: #FFF4F6;
  border: none;
}
cart-drawer.drawer .drawer__footer .totals {
    margin-top: 0;
    align-items: center;
    border-top: 1px solid #CDCDCD;
    padding: 12px 0 15px;
}
cart-drawer.drawer .drawer__footer h2.totals__total, cart-drawer.drawer .drawer__footer .totals__total-value {
    margin-top: 0;
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Quicksand", sans-serif;
}
cart-drawer.drawer .drawer__footer small.tax-note {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  display: none;
}
cart-drawer.drawer .drawer__footer .cart__ctas button {
    border-radius: 10px;
    background: #AE5781;
    padding: 10px 20px;
    color: #FFF;
    font-size: 14px;
    transition: all 0.3s;
    font-weight: 700;
    line-height: 1.2;
  gap: 8px;
}
cart-drawer.drawer .drawer__footer .cart__ctas button:hover {
    background: #FEC8D6;
    color: #1C1C1C;
}
cart-drawer.drawer .drawer__footer .cart__ctas button:before,cart-drawer.drawer .drawer__footer .cart__ctas button:after {
  display: none;
}
@media only screen and (max-width: 400px){
  .cart-drawer .cart-item>td+td {
    padding-left: 0;
  }
  cart-drawer .drawer__header h2.drawer__heading{
    font-size: 22px;
  }
  cart-drawer-items table.cart-items a.cart-item__name{
    font-size: 17px;
  }
  /* cart-drawer.drawer .drawer__footer h2.totals__total {
    font-size: 18px;
  } */
  cart-drawer.drawer .drawer__footer p.totals__total-value {
    margin-left: 10px;
    font-size: 13px;
  }
}
.header-search-section .field .reset__button.field__button {
    height: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
body:has(cart-drawer.drawer.active) div#chat-bubble {
  z-index: 1;
}
/* 07/10/24 */
.product-variant-options-main-row .main-variant-picker{
    min-width: unset;
}
.product .product-variant-options-main-row{
  flex-wrap: wrap;
  justify-content: start;
}
@media only screen and (max-width: 767px){
  .product .product-variant-options-main-row .main-variant-picker label{
    padding: 8px 10px;
  }
  .product .product-variant-options-main-row{
    justify-content: start;
  }
}